<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Draft Assist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9A109C51F66FD2C00F92B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A109D91F66FD2C00F92B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A109E41F66FD2C00F92B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
